<!DOCTYPE html>
<html>

  <head>
    <!-- Exernal Resources -->
    <!-- Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Custom CSS and JS -->
    <link rel="stylesheet" href="../../resources/css/homePage.css">
    <link rel="stylesheet" href="../../resources/css/menu.css">
    <link rel="stylesheet" href="../../resources/css/starryBkg.css">
    <link rel="stylesheet" href="../../resources/css/aboutPage.css">
    <script src="../../resources/js/menu.js"></script>

    <title>About Us</title>
    <link rel="icon" type="image/png" href="../../resources/img/favicon.png" />

  </head>

  <body>

    <!-- Starry Background -->
    <div id='stars'></div>

    <!-- Menu Button -->
    <div id="menu" class="menuPopup">

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" >&times;</a>
    
      <!-- Overlay content -->
      <div class="menuPopup-content">
        <a href="Index.html">HOME</a>
        <a href="character.html">PLAY</a>
        <a href="about.html">ABOUT</a>
        <a href="FaQ.html">FAQ</a>
      </div>
    
    </div>
    
    <!-- Use any element to open/show the overlay navigation menu -->
    <button class="menuBtn" onclick="openNav()" style="margin: 2.75% 0 0 91.7%;"><i class="fa fa-bars"></i></button>

    
    <section class="container">

      <!-- Title Text -->
      <div class="center FaFaQndAboutTitle" style="margin-top: 50%">
        <p>ABOUT</p>
      </div>
      

      <h1 class="center" style = "color: var(--accentGlow); font-size: 30px"> OUR MISSION </h1><br>
      <h1 class="center"> Welcome to SFH! We believe in the power of knowledge and the thrill of discovery, and our mission is to make astronomy education engaging and interactive. Our game is designed to not only entertain, but also to spark curiosity about the possibilities of life beyond our planet. Learning about the cosmos should be an exciting journey, and what better way to explore the wonders of the universe than through a game?</h1>
      <br>
      <br>
      <h1 class="center"style = "color: var(--accentGlow);font-size: 30px">OUR JOURNEY</h1> <br>
      <h1 class="center"> was born from the collaboration of a group of passionate student developers with a shared enthusiasm for astronomy and education. Fueled by our love for both technology and the cosmos, we set out to create an immersive experience that not only entertains, but also educates.</h1>
      <br>
      <br>
      <h1 class="center"style = "color: var(--accentGlow);font-size: 30px">JOIN US ON THIS COSMIC ADVENTURE</h1><br>
      <h1 class="center"> you're a student eager to learn, an educator seeking innovative resources, or just someone with a passion for the cosmos, we invite you to join us on this cosmic adventure. Together, let's explore the mysteries of the universe and make learning an out-of-this-world experience!</h1>

    </section>

  </body>

<html>

<!-- Logo -->
<a href="Index.html"><img style="margin-top: 1%; width: 5.5%; height: auto;" class="logo" src="../../resources/img/favicon.png" alt="" /></a>